@model IEnumerable<CarServiceCare.Core.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CarBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CubicCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img class="img-thumbnail" style="height:50px" src="~/Content/CarImages/@item.Photo" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CarBrand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FuelType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CubicCapacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Power)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kilometer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
