@model CarServiceCare.Core.Models.Repair

@{
    ViewBag.Title = "Opravy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opravy - Smazat záznam</h2>

<h3>Jste si jisti, že chcete smazat tento záznam?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-primary" /> |
            @Html.ActionLink("Zpět na seznam", "Index")
        </div>
    }
</div>
