<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Service Care</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" title="Home">
                    <img src="~/Content/img/Logo-black.png" alt="Car service care logo" class="logo-black">
                </a>            
            </div>
            <div class="navbar-collapse collapse nav-style">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Auta</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam vozidel", "Index", "Car")</li>
                            <li role="menuitem">@Html.ActionLink("Přidat vozidlo", "Create", "Car")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Pojištění</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam pojištění", "Index", "CarInsurance")</li>
                            <li role="menuitem">@Html.ActionLink("Vytvořit nové pojištění", "Create", "CarInsurance")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Výdaje</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam výdajů", "Index", "Expense")</li>
                            <li role="menuitem">@Html.ActionLink("Vytvořit nový výdaj", "Create", "Expense")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Tankování</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam tankování", "Index", "Refueling")</li>
                            <li role="menuitem">@Html.ActionLink("Založit nové tankování", "Create", "Refueling")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Opravy</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam oprav", "Index", "Repair")</li>
                            <li role="menuitem">@Html.ActionLink("Založit novou opravu", "Create", "Repair")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Servis</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam servisních zásahů", "Index", "Service")</li>
                            <li role="menuitem">@Html.ActionLink("Založit nový servisní zásah", "Create", "Service")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">STK</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam provedených STK", "Index", "STK")</li>
                            <li role="menuitem">@Html.ActionLink("Založit nový STK záznam", "Create", "STK")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Přezouvání</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Seznam přezutí", "Index", "TireChange")</li>
                            <li role="menuitem">@Html.ActionLink("Založit nový záznam o přezutí", "Create", "TireChange")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li class="vl"></li>
                </ul>
                
                @Html.Partial("_LoginPartial", new { @class = "nav-style" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car Service Care</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
