<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Service Care</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CarServiceCare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Přehledy</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                            <li role="menuitem">@Html.ActionLink("Auta", "Index", "Car")</li>
                            <li role="menuitem">@Html.ActionLink("Pojištění", "Index", "CarInsurance")</li>
                            <li role="menuitem">@Html.ActionLink("Výdaje", "Index", "Expense")</li>
                            <li role="menuitem">@Html.ActionLink("Tankování", "Index", "Refueling")</li>
                            <li role="menuitem">@Html.ActionLink("Opravy", "Index", "Repair")</li>
                            <li role="menuitem">@Html.ActionLink("Servis", "Index", "Service")</li>
                            <li role="menuitem">@Html.ActionLink("STK", "Index", "STK")</li>
                            <li role="menuitem">@Html.ActionLink("Přezouvání", "Index", "TireChange")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Help", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car Service Care</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
